<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invitereferrals.invitereferrals">

    <application>

        <activity android:name=".CampaignLogin"></activity>
        <activity android:name=".ShareScreen"></activity>

        <receiver
            android:name=".AppUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.invitereferrals.invitereferrals.InviteReferrerBroadcastReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>